.navbar-menu {
  position: absolute;
  left: 50%;
  margin-left: -155px;
  height: 100%;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.navbar-item {
  display: flex;
  align-items: center;
}

.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
}

.navbar-start {
  margin-right: auto;
  justify-content: flex-start;
}
.navbar-end {
  margin-left: auto;
  justify-content: flex-end;
}

.navbar .container {
  display: flex;
}